.staffContainer {
    background-color: #E2E8F0;
    margin-top: 60px;
    min-height: 100vh;
    width: 100%;
}

.title {
    color: rgb(171, 25, 204);
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0;
}

.form-container {
    max-width: 600px;
    min-height: 100vh;
    margin: 0px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin: 0 0 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;

    & label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #555;
    }

    & input,
    & select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
        transition: border-color 0.3s ease;

        &:focus {
            border-color: #007bff;
            outline: none;
        }
    }

    & .error {
        color: #ff4d4d;
        font-size: 14px;
    }
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #054307;
    }
}

// Loader Styles
.loaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    /* Adjust as needed */
}

.loadingMessage {
    margin-top: 10px;
    font-size: 20px;
    color: #3498db;
}

// Responsive Design
@media (max-width: 768px) {
    .form-container {
        padding: 15px;
        margin: 20px;
    }

    .form-container h2 {
        font-size: 20px;
    }
}