/* Login.css */

html,
body {
    height: 100%;
    margin: 0;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa ;
    /* Optional: set a background color */
}

.login-form-container {
    width: 100%;
    max-width: 500px;
    /* Adjust the max width as needed */
    margin-top: 50px;
    /* Add margin-top to center form vertically */
    background-color: #f8f9fa;
}

.login-form {
    width: 100%;
    
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    display: flex;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.card-body {
    padding: 15px;
}

.card-footer {
    text-align: center;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.titles {
    color: #fff !important;
    display: flex;
    flex-direction: column;
}
.navbar-logo {
    width: 10px;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain aspect ratio */
    margin-right: 10px;
    /* Add some spacing between the logo and text */
}

