/* Register.css */
.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Full viewport height */
    background-color: #f8f9fa;
    /* Optional: light background color for contrast */
}

.register-form-container {
    width: 100%;
    max-width: 600px;
    /* Adjust as needed */
    margin-top: 50px;
    /* Margin from the top */
}

.card {
    background-color: white;
    /* Background color for the card */
    border: 1px solid #ddd;
    /* Optional: border for the card */
    border-radius: 8px;
    /* Optional: rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional: shadow for the card */
}

.card-header,
.card-body,
.card-footer {
    margin: 0;
    padding: 20px;
    /* Adjust padding as needed */
}

.form-group {
    margin-bottom: 15px;
    /* Space between form fields */
}

.btn-primary,
.btn-danger {
    margin-right: 5px;
    /* Space between buttons */
}
.colors {
    color: #fff !important;
}
.navbar-logo {
    width: 120px;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain aspect ratio */
    margin-right: 10px;
    /* Add some spacing between the logo and text */
}